@model AspAssignment.Data.IncomeTaxDeductionForm

@{
    ViewData["Title"] = "View Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<div class="container">
    <h2 class="text-primary text-center">Details</h2>
    <table class="table table-bordered table-striped text-center">
        <tbody>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td class="text-start">Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Financial Year</td>
                <td>@Model.FinancialYear</td>
            </tr>
            <tr>
                <td class="text-start">Other Income</td>
                <td>@Model.OtherIncome</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Sukanya Samriddhi</td>
                <td>@Model.SukanyaSamriddhi</td>
            </tr>
            <tr>
                <td class="text-start">PPF/NS/ULIP</td>
                <td>@Model.PPF_NS_ULIP</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Life Insurance Premium</td>
                <td>@Model.LifeInsurancePremium</td>
            </tr>
            <tr>
                <td class="text-start">Tuition Fee For Child</td>
                <td>@Model.TuitionFeeForChild</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Bank Fixed Deposit</td>
                <td>@Model.BankFixedDeposit</td>
            </tr>
            <tr>
                <td class="text-start">Principal Amount Housing Loan</td>
                <td>@Model.PrincipalAmountHousingLoan</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">National Pension Scheme</td>
                <td>@Model.NationalPensionScheme</td>
            </tr>
            <tr>
                <td class="text-start">Higher Education Loan Interest</td>
                <td>@Model.HigherEducationLoanInterest</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Interest Paid On Housing Loan</td>
                <td>@Model.InterestPaidOnHousingLoan</td>
            </tr>
            <tr>
                <td class="text-start">House Rent Paid</td>
                <td>@Model.HouseRentPaid</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Tax Deducted At Source</td>
                <td>@Model.TaxDeductedAtSource</td>
            </tr>
            <tr>
                <td class="text-start">MediClaim Insurance Policy Premium</td>
                <td>@Model.MediClaimInsurancePolicyPremium</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Preventive Health Checkup</td>
                <td>@Model.PreventiveHealthCheckup</td>
            </tr>
            <tr>
                <td class="text-start">LTA</td>
                <td>@Model.LTA</td>
            </tr>
            <tr class="bg-light">
                <td class="text-start">Education Allowance</td>
                <td>@Model.EducationAllowance</td>
            </tr>
        </tbody>
    </table>
    <a asp-action="TaxList" class="btn btn-primary">Back to List</a>
</div>
